    <header>
      <nav>
        <ul class="li-login">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Categories", categories_path %></li>
          <% if user_signed_in? %>
            <li></li>
          <% else %>
            <li><%= link_to "Login", new_user_session_path, class:"log-btn" %></li>
          <% end %>
        </ul>
      </nav>
    </header>