<div>
    <p>Welcome to</p>
    <h1>Spend Right</h1>
    <h3>Budget App</h3>

    <% unless user_signed_in? %>
        <div>
            Sign in <%= link_to "here", user_session_path %> to manage your spending 
        </div>
    <% end %>
</div>