/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

  body {
    height: 100vh;  
    background-color: rgb(250, 250, 250);

  }

:root {
  --main: #3778c2;
  --secondary: #5fb523;
  --text: #434b54;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.flex {
  display: flex;
}

.flex_column {
  display: flex;
  flex-direction: column;
}

.headline {
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 700;
}

.general_text {
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 700;
}

.center_horizontal {
  margin-left: auto;
  margin-right: auto;
}

.fill_container {
  width: 100%;
  height: 100%;
}

.header_title {
  color: #fff;
}

.form_action input{
  border: none;
  color: #fff;
  background-color: var(--main); 
}

header {
  background-color: var(--main);
}

.back_button {
  color: #fff;
}