.splash {
  height: 80vh;
  align-self: center;
  justify-content: space-between;
}

.splash h1 {
  margin: auto;
  justify-content: center;
}

.splash_buttons {
  gap: 10px;
}

.log_in_button {
  background-color: var(--main);
  border: none;
  width: 70%;
  padding: 1rem;
  border-radius: 3px;
}

.log_in_link {
  width: 100%;
  height: 100%;
  color: #fff;
}

.sign_up_link {
  color: var(--text);
}
